# Players analysis

In [2]:
import pandas as pd

In [3]:
def load_data(filepath):
    return pd.read_csv(filepath)

In [4]:
df_player_stats = pd.read_csv('datasets/player_stats_FBref.csv')
df_player_stats.head()

,team,player,nation,pos,age,born,MP,Starts,Min,90s,...,Gls/90,Ast/90,G+A/90,G-PK/90,G+A-PK/90,xG/90,xAG/90,xG+xAG/90,npxG/90,npxG+xAG/90
0,Atlanta Utd,Ajani Fortune,TRI,MF,20,2002,14,3,374,4.2,...,0.00,0.24,0.24,0.00,0.24,0.18,0.03,0.21,0.18,0.21
1,Atlanta Utd,Amar Sejdic,USA,MF,26,1996,23,14,1061,11.8,...,0.00,0.00,0.00,0.00,0.00,0.03,0.02,0.05,0.03,0.05
2,Atlanta Utd,Andrew Gutman,USA,DF,26,1996,18,16,1385,15.4,...,0.19,0.13,0.32,0.19,0.32,0.11,0.14,0.24,0.11,0.24
3,Atlanta Utd,Brad Guzan,USA,GK,38,1984,27,27,2430,27.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Atlanta Utd,Brooks Lennon,USA,DF,25,1997,33,32,2881,32.0,...,0.12,0.28,0.41,0.12,0.41,0.08,0.16,0.24,0.08,0.24

In [6]:
df_player_stats.columns

Index(['team', 'player', 'nation', 'pos', 'age', 'born', 'MP', 'Starts', 'Min',
       '90s', 'Gls', 'Ast', 'G+A', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'xG',
       'npxG', 'xAG', 'npxG+xAG', 'PrgC', 'PrgP', 'PrgR', 'Gls/90', 'Ast/90',
       'G+A/90', 'G-PK/90', 'G+A-PK/90', 'xG/90', 'xAG/90', 'xG+xAG/90',
       'npxG/90', 'npxG+xAG/90'],
      dtype='object')